/* Кнопка "Меню" (для мобильной версии) */
.dws-menu [type="checkbox"]{
    display: none;
   }
.dws-menu label.toggleMenu{
    font: 1.2em 'Inter', cursive;
    padding: 1em;
    cursor: pointer;

    color: #EAF3F8;
    background: #2B2B4A url('../images/icons/dropdown-menu.svg') no-repeat 10px center/50px;
    padding-left: 70px;

    display: none;
} 
input.toggleMenu:checked + label.toggleMenu{
    background: #72c7c2 url('../images/icons/dropdown-menu.svg') no-repeat 10px center/50px;
    color: #EAF3F8;
} 
       

/* Подменю (для мобильной версии) */
.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu{
 display: none;
}   
   input.toggleSubmenu:checked ~ a{
    background: #72c7c2;
    color: #EAF3F8;
   }   
@media all and (min-width: 1276px) {
    /* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content{display: block ;}
}
   
@media all and (max-width: 1275px) {
    header{
        display: block;
    }
    .dws-menu{
        align-items: center;
        justify-content: center;
    }
    .logo a {
        align-items: center;
        justify-content: center;
    }
    .dws-menu label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
       }
       input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
       }   
}  


@media all and (max-width: 800px) {
    .dws-menu ul{
        display: none;
    }
    .dws-menu label.toggleMenu{
        display: block;
    }   
    input.toggleMenu:checked ~ ul,
    input.toggleSubmenu:checked ~ ul{
     display: block;
     position: relative;
    } 
}  

@media all and (max-width: 520px) {
    .logo a h1 {
        font-size: 2.5em;
    }
    .logo a img {
        width: 60px;
        height: 60px;
    }

    .dws-menu > ul {
        padding-left: 15px;
    }

    header nav a {
        font-size: 1em;
    }
    .dws-menu label.toggleMenu{
        font-size: 1em;
        padding: 1em;

        background-size: 40px;
        padding-left: 65px;
    } 
    input.toggleMenu:checked + label.toggleMenu{
        background-size: 40px;
    } 
}  