/* Styles */

/* Box model */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* Типография */
html {
    font: 1.2em / 1.2 'PT Sans', sans-serif;
}

/* Body */
body {
    margin: 0;
}
/* Ссылки */
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    text-align: center;

    cursor: pointer;
}

a:link {
    color: #72c7c2;
}

a:visited {
    color: #ff7d5e;
}

a:focus {
    border-bottom: 1px solid;
    background: #EAF3F8;
}

a:hover {
    border-bottom: 1px solid;
    background: #EAF3F8;
}

a:active {
    background: #72c7c2;
    color: #EAF3F8;
}

nav a:link {
    color: #EAF3F8;
}

nav a:visited {
    color: #EAF3F8;
}

nav a:focus {
    background: #72c7c2;
    color: #2B2B4A;
}

nav a:hover {
    background: #72c7c2;
    color: #2B2B4A;
    border-bottom: 0px;
}

nav a:active {
    background: #ff7d5e;
    color: #2B2B4A;
}

.logo a:focus {
    border-bottom: 0 solid;
    background: unset;
}

.logo a:hover {
    border-bottom: 0 solid;
    background: unset;
}

.logo a:active {
    background: unset;
}

/* Ссылка на pdf */
a.pdf {
    background: url('../images/icons/pdf.png') no-repeat 0 0;
    background-size: 26px 26px;
    padding-left: 30px;
}

/* Выпадающее меню */

.dropdown {
    position: relative;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EAF3F8;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;

    padding-left: 0px;
  }
  
  /* Ссылки внутри выпадающего списка */
.dropdown-content a {
    font-size: 1em;
    color: #EAF3F8;
    background-color: #2B2B4A;
    padding: 12px 16px;
    display: flex;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover a:focus {background-color: #EAF3F8;}

/* Панель меню */
header {
    background-color: #2B2B4A;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    border-radius: 0px 0px 5px 5px;

    /* position: sticky; */
    top: 0;
    left: 0;
}

.logo a {
    display: flex;
}

.logo a h1 {
    font: bold 3em 'Inter', cursive;
    margin: 0.1em 0.2em 0em;
    color: #EAF3F8;
}
header nav {
    flex: 1;
    display: flex;
}

header nav ul {
    list-style: none;
    margin: 0;
    
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
}

header nav a {
    font: 1.2em 'Inter', cursive;
    color: #EAF3F8;
    padding: 1.2em;
    display: block;
}

/* Images */
main img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

/* Iframe */
main iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
}

/* Main */
main {
    margin: 1.25em;
}

/* Footer */
footer {
    text-align: center;
    margin: 1em;
    
}
/* Button */
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 0;
    border-radius: 5px;
    background: #2B2B4A;
    color: #EAF3F8;
    padding: 8px 16px;
    font-size: 1.5em;
    cursor: pointer;
    display: block;

    margin: 20px 0;
}

button:hover {
    background: #72c7c2;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #EAF3F8;
}

button:active {
    background: #ff7d5e;
}
/* Для test */
#test div{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#test div input {
    width: 3em;
    height: 2em;
    margin: 1.4em 0.5rem;
    padding: 0.1rem 0.2rem;
}

#test + button {
    font-size: 1.5em;

    min-width: 300px;

    margin: 20px auto 50px;
}

.correct {
    border: 3px solid green;
}
.incorrect {
    border: 3px solid red;
}  

/*Для abc-search*/
